{
  "extends": "@modyo/eslint-config-modyo",
  "globals": {
    "$": true,
    "_": true,
    "gtag": true,
    "AuthService": true,
    "axios_api": true,
    "debounce": true,
    "moment": true,
    "modyoSDK": true,
    "Chart": true,
    "SessionManager": true,
    "getAccessToken": true,
    "sendPopup": true,
    "transactionalMessages": true,
    "scrollTablePopup": true,
    "Highcharts": true,
    "sendPopupWithParams": true,
    "vsfunction": true
  },
  "rules": {
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_meta"
        ]
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreUrls": true,
        "ignorePattern": "filter:",
        "ignoreTemplateLiterals": true
      }
    ],
    "vue/no-use-v-if-with-v-for": 0,
    "vue/no-confusing-v-for-v-if": 0
  }
}