/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea/*
storage/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.scannerwork/*
public/error_log
storage/.DS_Store
storage/debugbar/
