@charset "utf-8";
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #00c4a7;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$sidebar-width:350px;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "navbar";
@import "../../node_modules/bulma-helpers/bulma-helpers.sass";
.is-overflow-auto{
    overflow: auto;
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.super-title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
[v-cloak] {display: none}
.notification.is-fixed-top {
    position: fixed;
    width: 100%;
    opacity:0;
    box-shadow: 0px 1px 5px gray;
}
.notification.animated{
    opacity:1
}
.main-navigation{
    z-index: 10;
}
.notices.has-custom-container{
    position:fixed
}
.dialog.has-custom-container {
    position: fixed;
}
.snackbar{
    &.is-danger {
        background: $danger-dark;
    }
    &.is-warning {
        background: $warning-dark;
    }
    &.is-info {
        background: $info-dark;
    }
    &.is-success {
        background: $success-dark;
    }
    &.is-primary {
        background: $primary-dark;
    }
}
.control.no-arrow .select:not(.is-multiple):not(.is-loading)::after {
    display:none
}
.menu-list {
    .icon.is-small {
        margin-right: 0.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .always-on{
        display:block;
    }
}


