@css {
    .input-base {
        @apply  .shadow .appearance-none .border .rounded .py-2 .mb-2 .px-3 .text-grey-darker .leading-tight .w-full;


        &:focus{
            @apply .outline-none .shadow-outline;
        }
    }
    .label-base{
        @apply .block .text-grey-darker .text-sm .font-bold .mb-2;
    }
    .error-base{
    @apply .text-red .text-xs .italic;
    }
    .form-switch {
        @apply relative select-none w-12 mr-2 leading-normal;
    }
    .form-switch-checkbox {
        @apply hidden;
    }
    .form-switch-label {
        @apply block overflow-hidden cursor-pointer bg-white border rounded-full h-6  shadow-inner;

        transition: background-color 0.2s ease-in;
    }
    .form-switch-label:before {
        @apply absolute block bg-white pin-y w-6 border rounded-full -ml-1;

        right: 50%;
        content: "";
        transition: all 0.2s ease-in;
    }
    .form-switch-checkbox:checked + .form-switch-label,
    .form-switch-checkbox:checked + .form-switch-label:before {

    }
    .form-switch-checkbox:checked + .form-switch-label {
        @apply bg-green shadow-none;
    }
    .form-switch-checkbox:checked + .form-switch-label:before {
        @apply pin-r;
    }

}
input.vdatetime-input {
    width: 100%;
    height: 100%;
}
.v-select .dropdown-toggle::after{
    content:none
}
.input-base[disabled] {
    background: #8080804f;
}

.input-base.v-select {
    .form-control{
        height:calc(1.4em + .75rem + 2px)
    }
    input[type=search], input[type=search]:focus, .dropdown-toggle{
        padding: 0;
        margin: 0;
    }
    .dropdown-toggle{
        border:none;
    }
}

