@media only screen and (max-width:768px){
    td {
        display: block;
        border-top: none !important;
    }

    th {
        display: none;
    }

    tr {
        border: 1px solid #e3e3e3;
        text-align: center
    }
}